* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--black);
  background-image: url(images/background-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 790px;
  border-radius: 5px;

  /* -webkit-backdrop-filter: blur(10px); */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 15px 30px 5px rgb(0 0 0 / 70%);
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
.do-while {
  position: absolute;
  top: 4rem;
  left: 2rem;
  background: rgb(0 0 0 / 52%);
  width: 300px;
  padding: 0.6rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

/* Media Query*/
@media (min-width: 820px) {
  main {
    width: 360px;
    height: 560px;
    background: url(images/badge.svg);
    background-size: 360px 560px;
  }

  .avatar {
    margin: 4.9rem auto 0;
  }

  ul {
    margin: 2rem auto 0;
  }

  .range {
    position: absolute;
    z-index: 2;
    width: 66px;
    height: 750px;
    background: linear-gradient(161.24deg, #ff008e -15.25%, #ffcd1e 111.89%);
    top: 0;
    margin-top: -45rem;
    margin-left: 9.2rem;
  }

  .hole {
    position: absolute;
    background: #121214;
    z-index: 1;
    width: 84px;
    height: 12px;
    margin-left: 8.7rem;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
  }

  .do-while {
    position: static;
    margin: 5rem auto 0;
    margin-left: 15px;
    background: none;
    box-shadow: none;
    padding: 1rem;
    border-radius: 1rem;
    width: 350px;
  }
}

